{% load staticfiles %}
{% load tagging_tags %}
{% load flatpages %}
{% load blog_extras %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>
            {% block page_title %}
                {{ site.name }}
            {% endblock %}
        </title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}">

        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Rokkitt%3A400%2C700%7CLato%3A400%2C700&#038;ver=4.4.2' type='text/css' media='all' />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <link href="/feed/" rel="alternate" type="application/rss+xml" title="{{ site.name }} Blog Feed" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block extra_style %}{% endblock %}

    </head>

    <body>

        <div class="container-fluid wrapper">
            <div class="row">
                <div class="col-md-2 sidebar">
                    <!--Sidebar content-->
                    <div class="border-bottom-grey padding-bottom-20">
                        <!-- Sidebar header - website name -->
                        <h1><a href="/">{{ site.name }}</a></h1>
                    </div>
                    <div class="border-bottom-grey padding-bottom-20 padding-top-20">
                        <!-- Navigation for Categories -->
                        {% get_posted_categories as categories %}
                        <ul class="list-unstyled categories-list sidebar-nav">
                            {% for category in categories %}
                                <li><a href="{% url 'category_index' category=category.slug %}">{{ category.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="border-bottom-grey padding-bottom-20 padding-top-20">
                        <!-- Navigation for post tags -->
                        <ul class="list-unstyled tags-list">
                            {% tags_for_model blog.Post as tags with counts %}
                            {% for tag in tags %}
                                <li><a href="{% url 'tag_index' tag=tag %}">{{ tag.name }} ({{ tag.count }})</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="padding-bottom-20 padding-top-20">
                        <!-- Navigation for flat pages -->
                        {% get_flatpages as flatpages %}
                        <ul class="list-unstyled sidebar-nav">
                            {% for page in flatpages %}
                                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-10 main">
                    <!--Body content-->
                    {% block content %}
                    {% endblock %}
                </div>
{#                <div class="col-md-2 sidebar">#}
{#                </div>#}
            </div>
        </div>

        <!-- jQuery 2.2.2 -->
        <script src="{% static 'js/jquery.2.2.2.min.js' %}" ></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>

        <!-- Menu Toggle Script -->
        <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        </script>

        {% block extra_script %}{% endblock %}

    </body>
</html>
